body{
    font-family: arial;
}
.container {
    width: 1300px;
    position: relative;
    display: flex;
    margin: auto;
}

.greenline {
    height: 10px;
    background: #0fbab2;
    width: 1300px;
    margin: auto;
}

.time_work {
    width: 230px;
    border-left: 1px solid #0fbab2;
    padding: 5px 5px;
    font-size: 16px;
    margin-top: 41px;
    margin-left: 15px;
    color: #58595b;
    box-sizing: border-box;
    
}
.flex{
    display: flex;

}
.img{
    margin-top: 50px;
    width: 269px;
    height: 61px;
    border-radius: 3px;

}
.img:hover{
    background: gray;
   
}
.topmenu{
    background: #0fbab2;
    height: 50px;
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 20px;
}
.block{
    height: 50px;
    width: 215px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 0px;
    padding-bottom: 30px;
    color: white;
    font-family: arial;
    font-size: 26px;
}
.box{
    width: 278px;
    height: 266px;
    border: 1px solid #b8b8b7;
    margin: 10px 10px;
    
    margin-right: 20px;
    
}
.box h2{
    position: absolute;
    left: 0px;
    bottom: 5px;
    width: 100%;

    font-size: 20px;
    color: #f25a29;
    text-transform: uppercase;
}
